@use './utils/variables' as *;
@use './component/card';
@use './component/dropdown';
@use './component/tag';
@use './component/button';
@use './component/mainSearch';
@use './utils/text-colors';
@use './utils/bg-colors';

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
	font-family: 'Lato', sans-serif;
}

ul {
	list-style-type: none;
}

.height-fixed {
	height: 202px;
}

.line-clamp {
	height: 100%;
	overflow: hidden;
	-webkit-line-clamp: 7;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}
