@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  font-family: "Lato", sans-serif;
}

ul {
  list-style-type: none;
}

.btn-dropdown {
  padding: 1.5rem 2rem;
  font-size: 1.1rem;
  font-weight: 600;
}

.dropdown-toggle-custom::after {
  margin-left: 2rem;
  vertical-align: middle;
}

#input-search {
  background-color: #e7e7e7;
}

.card-body {
  height: 186px;
  overflow: hidden;
}

.card-text {
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden !important;
}

#searchField {
  position: relative;
}

.fa-search {
  font-size: 1.5rem;
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

.btn:focus,
.btn:active,
.form-control:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media (min-width: 1200px) {
  .col-xl-recipe {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 30%;
  }
}
.custom-text-primary {
  color: #d04f4f;
}

.custom-text-secondary {
  color: #3282f7;
}

.custom-text-tertiary {
  color: #68d9a4;
}

.custom-btn-primary {
  background-color: #d04f4f;
}
.custom-btn-primary:hover {
  background-color: #d04f4f;
}

.custom-btn-secondary {
  background-color: #3282f7;
}
.custom-btn-secondary:hover {
  background-color: #3282f7;
}

.custom-btn-tertiary {
  background-color: #68d9a4;
}
.custom-btn-tertiary:hover {
  background-color: #68d9a4;
}

.custom-bg-primary {
  background-color: #d04f4f;
}

.custom-bg-secondary {
  background-color: #3282f7;
}

.custom-bg-tertiary {
  background-color: #68d9a4;
}

.dropdown-item-tertiary:hover {
  background-color: #68d9a4;
}

.dropdown-item-secondary:hover {
  background-color: #3282f7;
}

.dropdown-item-primary:hover {
  background-color: #d04f4f;
}

.dropdown-menu {
  padding-right: 11rem;
}

article:last-of-type {
  margin-right: auto;
}

.recipe-title {
  font-size: 1.1rem;
  font-weight: 400;
}

.text-small {
  font-size: 0.75rem;
}

.img-placeholder {
  background-color: #c7bebe;
  height: 178px;
}