.recipe-title {
	font-size: 1.1rem;
	font-weight: 400;
}

.text-small {
	font-size: 0.75rem;
}

.img-placeholder {
	background-color: #c7bebe;
	height: 178px;
}

.card-title {
	width: 75%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
