@mixin dropdown-container {
	display: none;
	justify-content: space-between;
	align-items: center;
	padding: 0 1.5rem 0 0;
	border-radius: 4px;
	width: 41.7rem;

	& .fa-caret-up {
		color: white;
		font-size: 1.13rem;
		transform: rotate(180deg);
	}
	& > input {
		outline: none;
		border: none;
		border-radius: 4px;
		width: 40rem;
		&::placeholder {
			color: #c7bebe;
		}
	}
}

.dropdown-list {
	top: 4.1rem;
	left: 0.8rem;
	position: absolute;
	display: none;
	z-index: 1;
	flex-wrap: wrap;
	width: 41.7rem;
	justify-content: flex-start;
	padding-bottom: 2rem;
	border-radius: 0 0 4px 4px;
	& button {
		background-color: transparent;
		outline: none;
		border: none;
		text-transform: capitalize;
	}
}

.dropdown-container {
	position: relative;

	#inputDropdownContainer {
		@include dropdown-container;
	}

	#inputAppliancesDropdownContainer {
		@include dropdown-container;
	}

	#inputUstensilsDropdownContainer {
		@include dropdown-container;
	}
}
