#input-search {
	background-color: #e7e7e7;
	overflow: hidden;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;

	&::placeholder {
		width: 92%;
	}
}
#searchField {
	position: relative;
	overflow: hidden;
}
.fa-search {
	font-size: 1.5rem;
	position: absolute;
	top: 1rem;
	right: 1.5rem;
}
